---
import { Navigation } from "./NavigationLink";


const navItems = [
      {
        name: "Home",
        href: "/"
      },
      {
        name: "Projects",
        href: "/projects"
      },
    ];
---

  

<nav class=" max-w-7xl mx-auto  px-4 md:px-8 py-5 grid grid-cols-12">
    <div class=" col-span-6 flex md:col-span-3">
        <a href="/">
        <h1 class=" text-3xl font-semibold">
            Falase <span class=" text-blue-500">Femi</span>
        </h1>
        </a>
    </div>

    <div class="hidden sm:flex justify-center items-center col-span-6">
      <Navigation data={navItems}  />
    </div>
</nav>